@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap);* {
    margin: 0;
    padding: 0
}

body {
    background-color: #f5f5f5;
    overflow-x: hidden
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    background: green
}

.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Wittgenstein",serif;
    gap: 10px;
    height: auto;
    margin-bottom: 50px
}

.blog {
    margin-top: 100px;
    height: auto;
    padding: 50px;
    gap: 20px
}

.blog,.suggestion,.texts {
    display: flex;
    flex-direction: column;
    width: 70%
}

.texts {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px
}

.card,.cards {
    display: flex;
    align-items: center
}

.cards {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px
}

.card {
    width: 320px;
    background-color: #000;
    height: 200px;
    flex-direction: column;
    justify-content: flex-end
}

a {
    text-decoration: none
}

.titleblog {
    width: 310px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    cursor: pointer;
    padding: 5px
}

.card:hover .titleblog {
    color: #000;
    background-color: rgba(250,250,250,.5)
}

.onlysmall {
    display: none
}

.more {
    color: #000;
    background-color: tomato;
    padding: 5px;
    border-radius: 3px;
    border: solid #fff 2px
}

.more:hover {
    background-color: #fff;
    border: tomato solid 2px
}

.content,.title {
    text-align: justify
}

.content {
    padding-right: 30px
}

.content,ol,ul {
    padding-left: 30px
}

.blogimage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.blogimage,img {
    width: 100%;
    max-height: 300px
}

@media screen and (min-width:500px) and (max-width:1400px) {
    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .card,.card a {
        width: 100%
    }

    .titleblog {
        width: calc(100% - 10px)
    }
}

@media screen and (max-width:760px) {
    .blogs {
        padding: 10px;
        justify-content: center
    }

    .blog {
        width: auto;
        padding: 10px
    }

    .content,.title {
        text-align: left
    }

    .content {
        padding-left: 10px;
        padding-right: 10px
    }

    .suggestion {
        width: auto
    }
}

@media screen and (max-width:500px) {
    .onlysmall {
        display: block;
        text-align: center;
        margin-top: 10px;
        width: 320px;
        align-self: center
    }

    .onlylarge {
        display: none
    }

    .texts {
        padding-left: 20px
    }
}