.verification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin-top: 50px;
}

.verification-box {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

p {
    color: #555;
    font-size: 16px;
    margin-bottom: 15px;
}

.icon img {
    width: 80px;
    margin: 15px 0;
}

.note {
    font-size: 14px;
    color: #777;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.back-to-login a {
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}

.attempt {
  font-size: 16px;
  color: red;
}