* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
        width: 10px;
    }
::-webkit-scrollbar-track {
        background: #ffffff;
      }
::-webkit-scrollbar-thumb {
        background: green;
}
navbar{
    position: fixed;
    top:0%;
    right: 0%;
    width: 100vw;
    height: 100px;
    color: #18392b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: whitesmoke;
    z-index: 9999;
}
.navbuttons{
    display: none;
}
.navigation{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navigation a {
  text-decoration: none;
}
.navigation ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    height: 50px;
}
.navigation ul li{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    font-size: 1.3rem;
}
.navigation ul li a{
text-decoration: none;
color: #18392b;;
}
.navigation ul li a:hover{
    color: tomato;
    font-size: 1.5rem;
}
.subscribe{
    width: 200px;
    background-color: tomato;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    transition: 0.2s ease-in-out;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.subscribe:hover{
    color: #1b5f4f;
    background-color: #ffffff;
    border: 1px solid tomato;
    font-size: 1.5rem;
}
.hide{
    display: none !important;
}
.subscribing{
    position: fixed;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 128, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    position: absolute;
    display: flex;
    background-color: aliceblue;
    height: 200px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}
.form-container h2{
    font-size: 1.8rem;
}
.Subin{
    background-color: #ffffff;
    color: #000000;
    width: 300px;
    height: 25px;
    padding: 5px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid #588b76;
}
.Subin::placeholder{
    color: #588b76;
}
.Subbtn{
    width: 130px;
    height: 40px;
    font-size: 20px;
    border: 0px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
}
.Subbtn:hover{
    color: #1b5f4f;
    background-color: #ffffff;
    border: 1px solid tomato;
}
.Subclose{
    position: absolute;
    right: 0%;
    top: 0%;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.subcl:hover{
    width: 25px;
    height: 25px;
}
.footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    flex-wrap: nowrap;
    background: black;
    color: white;
}
.footer ul li a{
    text-decoration: none;
    color: white;
}
.footer ul li a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 520px){
    .form-container{
        width: auto;
        height: 300px;
        margin: 10px;
    }
    .form-container h2{
        margin: 10px;
    }
}
@media screen and (max-width: 400px){
    .navshow{
        width: 100%;
    }
    .navshow ul li{
        height: 50px;
    }
    .subscribe{
        height: 50px;
    }
    .navshown{
        top: 300px;
    }
}
@media screen and (max-width: 940px){
navbar{
    justify-content: flex-end;
    height: 50px;
}
main{
    top: 50px;
}
.name{
    width: auto;
}
.navigation{
    display: none;
}
.navbuttons{
    display: flex;
    padding-right: 10px;
    z-index: 99999;
    overflow: hidden;
}
.navhide{
    display: none;
}
.navshow{
    position: fixed;
    top: 50px;
    right: 0%;
    width: 50%;
    height: auto;
    background-color: #85aa9b;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mainshift{
    z-index: -10;
}
.subscribe{
    width: 100%;
    background-color: #588b76;
    border-radius: 0px;
}
.navshow ul{
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
}
.navshow ul li a{
color: #ffffff;
}
.navshow ul li:hover a{
    color: #18392b;
}
}

@media screen and (max-width: 700px){
    .footer ul{
        flex-direction: column-reverse;
        text-align: center;
        padding: 10px 0px;
    }
    .footer ul li{
        padding: 5px 0px;
    }
}
@media screen and (max-width: 400px){
    .navshow{
        width: 100%;
    }
    .navshow ul li{
        height: 50px;
    }
    .subscribe{
        height: 50px;
    }
    .navshown{
        top: 300px;
        text-align: center;
    }
}

