@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap);* {
    margin: 0;
    padding: 0
}

body {
    background-color: #f5f5f5;
    overflow-x: hidden
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    background: green
}

main {
    position: relative;
    top: 100px;
    font-family: "Roboto",sans-serif
}

.suggestions-section {
    background-color: #fff;
    padding: 50px 0
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px
}

h1,p {
    text-align: center;
    color: #2c3e50
}

p {
    color: #7f8c8d;
    margin-bottom: 40px
}

.suggestions-form {
    background-color: #e0f0ff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.5)
}

.suggestions-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700
}

.suggestions-form input[type=email],.suggestions-form input[type=text],.suggestions-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-family: "Roboto",sans-serif
}

.suggestions-form button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: green;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer
}

.suggestions-form button:hover {
    background-color: #006400
}

@media (max-width:768px) {
    .suggestions-form {
        padding: 20px
    }
