.btn:hover,body {
    background-color: #fff
}

body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center
}

.thank-you-section {
    padding: 80px 0;
    text-align: center
}

.container {
    max-width: 600px;
    height: auto
}

h1 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 20px
}

p {
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 40px;
    line-height: 1.6
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color .3s
}

.btn:hover {
    color: green;
    border: 1px green solid
}

@media (max-width:768px) {
    h1 {
        font-size: 28px
    }

    p {
        font-size: 16px
    }
}
