@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
::-webkit-scrollbar{
        width: 10px;
    }
::-webkit-scrollbar-track {
        background: #ffffff;
      }
::-webkit-scrollbar-thumb {
        background: green;
    }
.blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Wittgenstein", serif;
    gap: 10px;
    height: auto;
    margin-bottom: 50px;
}
.blog{
    margin-top: 100px;
    width: 70%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.suggestion{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.texts{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 320px;
    background-color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
a{
    text-decoration: none;
}
.titleblog{
    width: 310px;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
}
.card:hover .titleblog{
    color: black;
    background-color: rgba(250,250,250,0.5);
}
.onlysmall{
    display: none;
}
.more{
    color: black;
    background-color: tomato;
    padding: 5px;
    border-radius: 3px;
    border: solid #ffffff 2px;
}
.more:hover{
    background-color: #ffffff;
    border: tomato solid 2px;
}
.title{
    text-align: justify;
}
.content{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
ol{
    padding-left: 30px;
}
ul{
    padding-left: 30px;
}
.blogimage{
    background-repeat: no-repeat;
    width: 100%;
    max-height: 300px;
    background-size: cover;
    background-position: center;
}
img{
width: 100%;
max-height: 300px;
}
.content a{
    text-decoration: underline;
}
.breadcrumbs{
    list-style: none;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    height: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs li:not(:last-of-type)::after{
    content: "/";
    color: grey;
    padding: 0 5px 0 5px;
}
.less{
   width: calc(100vw/1.5);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.breadcrumbs li a{
    color: grey;
    text-wrap: nowrap;
}
.breadcrumbs li a:hover{
    color: black;
    text-decoration: underline;
}
@media screen and (min-width: 500px) and (max-width: 1400px){
    .cards{
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    .card{
        width: 100%;
    }
    .card a{
        width: 100%;
    }
    .titleblog{
        width: calc(100% - 10px);
    }
}
@media screen and (max-width: 940px){
.blog{
    margin-top: 25px;
}
}
@media screen and (max-width: 760px){
.blogs{
padding: 10px;
justify-content: center;
}
.blog{
width: auto;
padding: 10px;
margin-top: 50px;
}
.title{
    text-align: left;
}
.content{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.suggestion{
    width: auto;
}

}
@media screen and (max-width: 500px){
.onlysmall{
    display: block;
    text-align: center;
    margin-top: 10px;
    width: 320px;
    align-self: center;
}
.onlylarge{
    display: none;
}
.texts{
    padding-left: 20px;
}
}