/*
#ffffff	(255,255,255)
#d0ded8	(208,222,216)
#85aa9b	(133,170,155)
#588b76	(88,139,118)
#18392b	(24,57,43)
.wittgenstein-<uniquifier> {
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
::-webkit-scrollbar{
        width: 10px;
    }
::-webkit-scrollbar-track {
        background: #ffffff;
      }
::-webkit-scrollbar-thumb {
        background: green;
    }
/*main*/
main{
    position: relative;
    top: 100px;
    width: 100vw;
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin-bottom: 150px;
}
/* logo text */
.logotext{
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(30deg, rgba(24,121,9,0.560749299719888) 0%, rgba(0,128,0,0.47111344537815125) 50%, rgba(0,130,0,0.7148109243697479) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.circular{
    color: white;
    background-color: green;
    border-radius: 20px;
    padding: 5px;
    font-size: 15vw;
    animation: logotexth1 2s ease-in;
}
.cblogs{
    color: green;
    font-size: 15vw;
    animation: logotexth2 1s ease-in-out;
}
@keyframes logotexth1 {
    from{
        position: relative;
        left: -50%;
    }
    to{
        left: 50%;
    }
}
@keyframes logotexth2{
    0%{
        position: relative;
        transform: translateY(0%);
    }
    33%{
        position: relative;
        transform: translateY(100%);
        visibility: hidden;
    }
    66%{
        position: relative;
        transform: translateY(-100%);
        visibility: hidden;
    }
    100%{
        position: relative;
        transform: translateY(0%);
        visibility: visible;
    }
}
/* searchbar */
.searchbar{
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.row1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
}
.search{
    width: 40%;
    height: 40px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #18392b;
    padding-left: 10px;
    font-size: large;
    border: 1px solid #18392b;
}
.search:focus{
    border: 1px solid #18392b;
}
.searchbutton{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: large;
    background-color: #18392b;
    color: #ffffff;
    border: 0px;
}
.searchbutton:hover{
    border: 1px solid #18392b;
    background-color: #ffffff;
    color: #18392b;
}
.row2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(40% + 100px + 10px);
}
.autolist{
    list-style: none;
    width: calc(40% + 100px + 10px) !important;
    background: rgba(255, 255, 255, 0.8);
    max-height: 300px;
    overflow-y: scroll;
}
.autolist li{
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
    text-align: left;
    padding-left: 10px;
    min-height: 50px;
    max-height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.autolist li:hover{
    background-color: #ffffff;
}
/*Category section*/
.categories{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.categories ul{
    list-style: none;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 10px;
    transform: rotateX(180deg);
    overflow-y: hidden;
    overflow-x: scroll;
}
.categories ul li{
    font-size: 1.2rem;
    cursor: pointer;
    max-width: 150px;
    transform: rotateX(180deg);
    height: 50px;
    transition: 0.2s;
}
.categories ul li a{
    text-decoration: none;
    color: black;
    height: auto;
    text-wrap: nowrap;
}
.categories ul li a:hover{
    border-bottom: 5px solid #18392b;
}
.active{
    border-bottom: 5px solid #18392b;
}
.categories ul::-webkit-scrollbar{
    height: 3px;
}
.categories ul::-webkit-scrollbar-track {
    background: none;
  }
.categories ul::-webkit-scrollbar-thumb {
    background: green;
}
/* content */
.content{
    margin-top: 10px;
    height: 100%;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.mainblog{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    animation: backgroundimg 15s infinite;
}
@keyframes backgroundimg {
    from{
        background-position: left;
    }
    to{
        background-position: right;
    }
}
a{
    text-decoration: none;
}
.mainblog a{
   width: 100%;
}
.heading{
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    font-family: "Wittgenstein", serif;
    padding: 10px;
    cursor: pointer;
}
.mainblog:hover .heading{
    color: black;
    background-color: rgba(250,250,250,0.5);
}
.recentblog{
    height: 420px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}
.blog{
    background-color: white;
    border:1px solid #18392b ;
    height: 120px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 5px;
}
.blog a{
width: 100%;
height: auto;
}
.bloghead{
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    font-family: "Wittgenstein", serif;
    padding: 10px;
    width: calc(100% - 20px);
    cursor: pointer;
}
.blog:hover .bloghead{
    background-color: rgba(250,250,250,0.5);
    color: #000000;
}
.bloghead span{
    font-size: large;
}
.more{
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.more:hover{
    color: tomato;
    font-size: large;
}
.moreactive{
    display: flex !important;
}
.moreblog{
    width: 100%;
    height: auto;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.moreblog .blog:nth-child(odd){
    width: 50%;
    margin-right: 0px;
    margin-left: 0px;
}
.moreblog .blog:nth-child(even){
    width: 480px;
    margin-left: 0px;
    margin-right: 0px;
}
/* small screen */
@media screen and (max-width: 1200px){
    .mainblog{
    width: 100%;
}
.recentblog{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
}
.blog{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.moreblog .blog:nth-child(odd){
    width: 100%;
}
.moreblog .blog:nth-child(even){
    width: 100%;
}
}
@media screen and (max-width: 940px){
    main{
        top: 50px;
    }
    .name{
        width: auto;
    }
    .searchbar{
        margin-right: 10px;
        margin-left: 10px;
        width: auto;
    }
    .search{
        width: 80%;
    }
    .searchbutton{
        width: 20%;
    }
    .row2{
        width: 100%;
    }
    .autolist{
        width: 100% !important;
    }
    .content{
        flex-direction: column;
    }
    .mainblog{
        width: 100%;
    }
    .recentblog{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .moreblog .blog{
        width: 100%;
    }
}
@media  screen and (max-width: 740px) {
    .heading h1{
        height: 100%;
        overflow: hidden;
        font-size: x-larger;
    }
    .mainblog{
        width: 100%;
        height: 300px;
    }
}
@media  screen and (max-width: 440px){
    .autolist{
        background: #fff;
    }
    .mainblog{
        height: 200px;
        overflow: hidden;
    }
    .heading h1{
        font-size: x-large;
    }
    .heading{
        font-family: "Open Sans", sans-serif;
    }
}
