.social{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    width: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(250,250,250,0.5);
    color: #18392b;
    border-radius: 0% 15px 15px 0%;
    cursor: pointer;
}
.social a{
  color: #18392b;
}
.social svg:hover{
    color: #000000;
    transform: scale(1.2);
}
@media screen and (max-width: 500px) {
.social {
    left: auto;
    right: 0%;
    border-radius: 15px 0% 0% 15px;
}
}