{% extends "base.html" %}

{% block page_head %}
  {% load static %}
  <title>Circular Blogs | About us</title>
  <link rel="canonical" href="https://www.circularblogs.com/aboutus" />
  <link rel="stylesheet" href="{% if debug %}{% static 'css/about.css' %}{% else %}{% static 'minified-css/about-min.css' %}{% endif %}">
  <meta name="description" content="We are The Circular Tribe focused primarily around educating, helping and creating products for sustainable future">
  <meta name="keywords" content="The Circular Tribe, Circular Tribe, Blogs, Circular Blogs, Sustainability, Green revolution, education">
  <meta name="author" content="The Circular Tribe">
  <meta property="og:title" content="Circular Blogs | About us" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="We are The Circular Tribe focused primarily around educating, helping and creating products for sustainable future" />
  <meta property="og:url" content="https://www.circularblogs.com/aboutus" />
  <meta property="og:image" content="{% static 'images/circularblog.png' %}" />
{% endblock %}

{% block page_content %}
<main>
  <section class="hero">
    <h1>Welcome to The Circular Tribe</h1>
    <p>Promoting Sustainability, Building a Greener Future</p>
    <a href="#about" class="btn">Learn More About Us</a>
  </section>

  <div class="container mission" id="about">
    <h2 class="head-title">Our Mission</h2>
    <p>At The Circular Tribe, our mission is to promote sustainability and create awareness about sustainable brands available in the market. We are dedicated to fostering a community of environmentally responsible individuals and establishing a platform to showcase brands and startups committed to spreading sustainability practices.</p>
  </div>

  <div class="container vision">
    <h2 class="head-title">Our Vision</h2>
    <p>Our long-term vision is to build a robust community of eco-conscious individuals and businesses. We aim to become the go-to platform for all things sustainable, providing resources, connections, and opportunities for those passionate about protecting our planet.</p>
  </div>

  <div class="container">
    <h2 class="head-title">Core Values</h2>
    <div class="values">
      <div>
        <img src="{% static 'images/recycling-icon.png' %}" alt="Sustainability">
        <h3>Promote Sustainability</h3>
        <p>We believe in the power of sustainable practices to create a better future.</p>
      </div>
      <div>
        <img src="{% static 'images/leaves-icon.png' %}" alt="Eco-Friendly">
        <h3>Eco-Friendly Practices</h3>
        <p>Our operations and partnerships emphasize eco-friendly methods.</p>
      </div>
      <div>
        <img src="{% static 'images/earth-icon.png' %}" alt="Social Responsibility">
        <h3>Social Responsibility</h3>
        <p>We encourage everyone to take responsibility for our Mother Earth.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="head-title">What We Offer</h2>
    <div class="offerings">
      <div>
        <img src="{% static 'images/diary-journal-color-icon.png' %}" alt="Sustainability Blogs">
        <h3>Sustainability Blogs</h3>
        <p>We offer users a platform to share and publish blogs about sustainable practices.</p>
      </div>
      <div>
        <img src="{% static 'images/startup-rocket-launch-icon.png' %}" alt="Showcase for Startups">
        <h3>Showcase for Startups</h3>
        <p>Providing startups the opportunity to highlight their commitment to sustainability.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="head-title">Coming Soon</h2>
    <div class="future-plans">
      <div>
        <img src="{% static 'images/link-hyperlink-color-icon.png' %}" alt="Supply Chain">
        <h3>Exciting new features to support sustainability and innovation.</h3>
        <p>We will soon allow users to upload their sustainability-related blogs on our platform, fostering a stronger community-driven approach to sustainable content.</p>
        <button class="btn" onclick="openform()">Subscribe for Updates</button>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="head-title">We'd love to get in touch with you</h2>
    <div class="contact">
      <h3><a href="mailto:community@circularblogs.com">community@circularblogs.com</a></h3>
    </div>
  </div>
</main>
{% endblock %}