{% extends "base.html" %}

{% block page_head %}
{% load static %}
  <title>Circular Blogs | {{ title }}</title>
  <link rel="stylesheet" href="{% if debug %}{% static 'css/blog.css' %}{% else %}{% static 'minified-css/blog-min.css' %}{% endif %}">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="The Circular Tribe">
  <link rel="canonical" href="https://www.circularblogs.com/blog/{{ url }}" />
  <meta property="og:title" content="Circular Blogs | {{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="https://www.circularblogs.com/blog/{{ url }}" />
  <meta property="og:image" content="{% static 'images/circularblog.png' %}" />
{% endblock %}

{% block page_content %}
  <div class="blogs">
    <div class="blog" id="blog-container">
      <ol class="breadcrumbs">
        <li><a href="/category/{{category}}">{{ category }}</a></li>
        <li class="less">{{ title }}</li>
      </ol>
      {% for context in content %}
      <div class="blogimage">
        <img src="{{ context.image.url }}" alt="{{ context.Title }}">
      </div>
      <div class="title">
        <h1>{{ context.Title }}</h1>
      </div>
      <div class="row">
        <aside id="toc" class="tableofcont"></aside>
        <div class="content" id="blogcontent">
          {{ context.content|safe }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="suggestion">
      <div class="texts">
        <h3>Similar blogs</h3>
        <a class="onlylarge more" href="/category/{{category}}">More blogs</a>
      </div>
      <div class="cards">
        {% for blog in blogs %}
        <div class="card" style="background: url('{{blog.image.url}}')">
          <a href="/blog/{{ blog.url }}">
            <div class="titleblog">
              <h3>{{ blog.Title }}</h3>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <a class="onlysmall more" href="/category/{{category}}">More blogs</a>
    </div>
  </div>
{% endblock %}

{% block page_script %}
  <script type="text/javascript" src="{% static 'js/injectattribute.js' %}"></script>
  <script>
    {% if sponsored %}
        console.log('yes');
        {% if nofollow %}
            nofollow();
        {% endif %}
        {% if dofollow %}
            dofollow();
        {% endif %}
        {% if noreferrer %}
            noreferrer();
        {% endif %}
        {% if noopener %}
            noopener();
        {% endif %}
    {% else %}
        default_link();
    {% endif %}
  </script>
  {% if toc %}
  <script type="text/javascript" src="{% static 'js/toc.js' %}"></script>
  {% endif %}
{% endblock %}
