{% extends "base.html" %}

{% block page_head %}
  {% load static %}
  <title>Circular Blogs | Any Sugestions?</title>
  <link rel="canonical" href="https://www.circularblogs.com/suggestions" />
  <link rel="stylesheet" href="{% if debug %}{% static 'css/suggestion.css' %}{% else %}{% static 'minified-css/suggestion-min.css' %}{% endif %}">
{% endblock %}

{% block page_content %}
<main>
  <section class="suggestions-section">
    <div class="container">
      <h1>We Value Your Suggestions</h1>
      <p>Your feedback helps us improve and serve you better. Please share your thoughts, ideas, or suggestions with us.</p>
      <form class="suggestions-form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="suggestions" value="suggestions">
        <label for="name">Your Name (Optional)</label>
        <input type="text" id="User" name="name" placeholder="Enter your name">

        <label for="email">Your Email (Optional)</label>
        <input type="email" id="UserEmail" name="email" placeholder="Enter your email">

        <label for="suggestion">Your Suggestion</label>
        <textarea id="suggestion" name="suggestion" rows="5" placeholder="Enter your suggestion" required></textarea>
        <button type="submit">Submit Suggestion</button>
      </form>
    </div>
  </section>
  <footer class="footer">
    <ul>
      <li>Copyright © 2024 Circular Blogs - All Rights Reserved.</li>
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li><a href="/terms-and-condition">Terms and condition</a></li>
      <li><a href="/cookie-policy">Cookie Policy</a></li>
    </ul>
  </footer>
</main>
{% endblock %}