<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You - The Circular Tribe</title>
    <link rel="canonical" href="https://www.circularblogs.com/thankyou" />
    <link rel="stylesheet" href="{% if debug %}{% static 'css/thankyou.css' %}{% else %}{% static 'min-css/thankyou-min.css' %}{% endif %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N2N2WKXR');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2N2WKXR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section class="thank-you-section">
        <div class="container">
            <h1>Thank You for Your {{ heading }}!</h1>
            <p>{{ para }}</p>
            <a href="/" class="btn">Back to Home</a>
        </div>
    </section>
</body>
</html>