<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You - The Circular Tribe</title>
    <link rel="stylesheet" href="{% if debug %}{% static 'css/thankyou.css' %}{% else %}{% static 'min-css/thankyou-min.css' %}{% endif %)">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <section class="thank-you-section">
        <div class="container">
            <h1>Thank You for Your {{ heading }}!</h1>
            <p>{{ para }}</p>
            <a href="/" class="btn">Back to Home</a>
        </div>
    </section>
</body>
</html>